*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/Screenshots
/app/release
*.aab
/app
c:\Users\mahad\AppData\Local\Packages\Microsoft.YourPhone_8wekyb3d8bbwe\TempState\medias\Screenshot_20260713-215630.png